#
# Config for all hosts
#
Host *
  ControlMaster auto
  ControlPath ~/.ssh/control/%r@%h:%p
  ControlPersist 2h
  ForwardAgent=yes
  TCPKeepAlive=no
  ServerAliveInterval=5
  Compression=yes
  CompressionLevel=6
  Cipher=aes128-ctr
  MACs=hmac-sha1
